<html>
	<head>
		<style type="text/css">
		   saturday {
		   	text-align: center;
		   	font-weight: bold;
		   	font-size: 100px;
		   	color: #fedcba;
		   	position: absolute;
		   	top: 40%;
		   }
		   footer{
		    font-family: Arial, "MS Trebuchet", sans-serif;
		    font-size: 13px;
		    bottom: 0;
		    position: absolute;
		   }
		</style>
		<title>शनिवार</title>
		<meta name="description" content="आज शनिवार है क्या?">
	</head>
	<body>
		<div align="center" float="bottom">
		<% if Time.now.saturday? %>
			<saturday>हां</saturday>
		<% else %>
			<saturday>नहीं</saturday>
		<% end %>
		</div>
		<footer>
			<p>A weekend project by <a href="http://www.cggaurav.net">cggaurav<a>, code at <a href="https://github.com/cggaurav/shanivaar">github</a></p>
		</footer>
	</body>
<html>