<html>
	<head>
		<style type="text/css">
		   saturday {
		   	text-align: center;
		   	font-weight: bold;
		   	font-size: 100px;
		   	color: #fedcba;
		   	position: absolute;
		   	top: 40%;
		   }
		</style>
		<title>शनिवार</title>
	</head>
	<body>
		<div align="center" float="bottom">
		<% if Time.now.saturday? %>
			<saturday>हां</saturday>
		<% else %>
			<saturday>नहीं</saturday>
		<% end %>
		</div>
	</body>
<html>